<a href="https://colab.research.google.com/github/CyJeromeAsis/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phython Indentation

In [3]:
  if 5 > 2:
    print ("Five is greater than two!")

Five is greater than two!

Phython Comments

In [56]:
#This is a comment
print ("Hello world!")

Hello world!

Variable Naming Convention :
Phython Variable

In [11]:
z = 1
a,b = 0, -1
a,b = 0, -1
c = "Sally"
print (a)
print (b)
print (z)
print (c)

0
-1
1
Sally

Variable Naming Convention : Casting

In [15]:
b = "Sally" #This is a string
b = int (4)
b = float (4)
print (b)

4.0

Type () Function

In [17]:
x = 5
y = "John"
z = float (4)
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'str'>
<class 'float'>

"Double Quotes" or 'Single' Quotes

In [19]:
x = "John"
y = 'John'
print (x)
print (y)

John
John

Case Sensitive

In [20]:
a = 4
A = 'Sally'
#A will not overwrite a
print (a)
print (A)

4
Sally

Multiple Variables

In [21]:
x, y, z = 'one' , 'two' , 'Three'
print (x)
print (y)
print (z)

one
two
Three

One Value Multiple Variable

In [22]:
x = y = z = 'four'
print (x)
print (y)
print (z)

four
four
four

Output Variable

In [26]:
x = 'enjoying'
print ('Python programming is ' + x)

Python programming is enjoying

In [27]:
x = ' Python is '
y = 'enjoying'
print (x + y)

 Python is enjoying

Arithmetic Operations

In [28]:
x = 8
y = 3
print (x**2) #Exponentiation
print (x/y) #Division
print (x//y) #Floor Division
print (x%y) #Modulo

64
2.6666666666666665
2
2

Assignment Operators

In [29]:
x = 3
x*= 3 #x = x * 3
print (x)

9

Comparison Operators

In [33]:
x = 4
y = 2
print (x>=y)

True

Logical Operators

In [36]:
x = 4
y = 2
not(x>=y)

False

Bitwise Operators

In [55]:
#decimal to binary
# 10 = 1010
x = 10
print (x>>2)

2

Application 1

In [73]:
#Area of rectangle

b = input() #b = length
h = input() #h = height

area = int(b) * int(h)
print (area)

4
5
20

In [74]:
#Area of square

s = input () #s = side

area = int(x) * int(x)
print (area)

4
16

In [76]:
#Area of circle

r = input() #r = radius
pi = 3.1416

area = pi * int(r) * int(r)
print (area)

12
452.3904